In [1]:
import pandas as pd
import numpy as np

In [4]:
# df1 = pd.read_csv("제로마켓_지역구.csv",encoding='CP949')
df1 = pd.read_excel("최종_제로마켓_지역구.xlsx ")

In [6]:
df2 = pd.read_excel("호선명_역명_2020합계_지역구.xlsx ")
df2 = df2.drop(columns={"Unnamed: 0"})

In [7]:
df3 = pd.read_excel("최종_1인가구_주소별_가중치.xlsx ")
df3 = df3.drop(columns="Unnamed: 0")
df3 = df3.sort_values(["행정동"], ascending=True)

In [16]:
df4 = pd.read_excel("최종_행정동별_상권변화지표.xlsx")
df4 = df4.drop(columns={"Unnamed: 0"})

In [17]:
df5 = pd.read_excel("최종_자치구별_1인가구_배달주문_및_총합.xlsx")
df5 = df5.drop(columns={"Unnamed: 0"})

In [47]:
df6 = pd.read_excel("최종_서울시_대학_DB정보.xlsx")

In [52]:
# 행정동 이름 확인하기 위한 df
gu_dong=df4[["지역구", "행정동"]]
gu_dong.shape

(424, 2)

### 최종_제로마켓_지역구

In [5]:
df1.head(10)

                 상호명                    도로명 주소   지역구     행정동
0              1.5도씨       서울특별시 관악구 조원로18길 15   관악구     조원동
1    Dear.eco(디어 에코)      서울특별시 광진구 아차산로65길 22   광진구    구의3동
2               감탄상회  서울특별시 동작구 양녕로29길 16 101호   동작구    상도4동
3       공기(대안생활 1호점)          서울특별시 강동구 상암로 10   강동구    암사2동
4         공방 꽃피는 삼월에   서울특별시 동대문구 답십리로30길 22-1  동대문구   답십리1동
5              굿바이마켓         서울특별시 용산구 서빙고로 17   용산구    한강로동
6               늘보따리       서울특별시 서대문구 연희로4길 24  서대문구     신촌동
7                더피커        서울특별시 성동구 왕십리로 115   성동구  성수1가2동
8                덕분애        서울특별시 서초구 서초대로 389   서초구    서초4동
9  디어얼스(Dear. Earth)         서울특별시 서대문구 수색로 43  서대문구   남가좌1동

In [ ]:
# 제로마켓 행정구 name을 제대로 썼는지 확인해보려고 gu_dong 적용

In [76]:
len(df1.행정동.unique())

40

In [77]:
arr=[]
for i in df1.행정동.unique():
    arr.append(gu_dong[gu_dong.행정동 == i]["행정동"])        #print(i, "yes")

len(arr)

40

### 호선명_역명_2020합계_지역구

In [11]:
df2.head(2)

   line_nm station_nm  sum_line_station  지역구  getoff_sum
0    우이신설선   4.19민주묘지            688568  강북구    25855961
1  3호선,8호선       가락시장           4401586  송파구    72306079

### 1인 가구

In [12]:
df3.head(2)

     지역구   행정동     전체인구  고령층 제외 1인가구
391  송파구  가락1동   9534.0       1045.0
392  송파구  가락2동  11482.0       1892.0

### 상권변화지표

In [40]:
df4.head(2)

   지역구    행정동_ID   행정동       상권변화지표
0  송파구  11710631  가락1동  HH,HH,HH,HH
1  송파구  11710632  가락2동  HL,HL,HL,HL

In [23]:
df4.상권변화지표.unique()

array(['HH,HH,HH,HH', 'HL,HL,HL,HL', 'LL,LL,LL,LL', 'HL,LL,LL,LL',
       'LL,LL,LL,LH', 'LH,LH,LH,LH', 'LL,LH,LH,LH', 'HH,HH,HL,HL',
       'LH,LH,HH,LH', 'LH,HL,HL,HH', 'HL,HH,HH,HH', 'HL,HL,LL,LL',
       'LL,LL,LL,HL', 'LH,HL,HL,HL', 'LH,LH,LH,HH', 'LH,HH,HH,HH',
       'HH,HH,HH,LH', 'HL,HL,HL,HH', 'LH,HH,HH,LH', 'LL,LL,HL,HL',
       'LH,LH,HH,HH', 'LL,LL,LH,LL', 'HL,HH,HL,HL', 'LL,LL,LH,LH',
       'HL,HL,HH,HH', 'LH,LL,LL,LL', 'HL,LL,LL,HL', 'HH,LH,LH,LH'],
      dtype=object)

### 주문지역 주거 특성

In [24]:
df5.head(2)

   시군구코드  지역구  배달주문 빈도수   전체인구  고령층제외_1인가구  1인가구 평균 배달주문 빈도수
0  11110  종로구     25983  63414       21086          1.232239
1  11140   중구     22818  55093       18292          1.247431

### 대학가

In [53]:
df6.head(2)

       학교명  지역구   행정동
0  한영신학대학교  구로구  개봉1동
1  동양미래대학교  구로구  고척1동

In [27]:
gu_dong[gu_dong["행정동"]=="면목3.8동"]

     지역구     행정동
103  중랑구  면목3.8동

In [74]:
len(df6.행정동.unique())

53

In [75]:
arr=[]
for i in df6.행정동.unique():
    arr.append(gu_dong[gu_dong.행정동 == i]["행정동"])        #print(i, "yes")

len(arr)

53

## 지역구 지수(가중치)
- 배달주문 

## 상권변화


## 행정동
- 제로마켓
- 대학가