In [14]:
import pandas as pd
import numpy as np

import requests
import openpyxl as xl
import time
import json

from sklearn import preprocessing

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

import warnings
warnings.filterwarnings(action='ignore') # 경고메세지 숨기기

## 1) 서울시 대기오염 측정정보
- 구 코드 : 서울시 대기오염 측정소 정보
- 값 : 서울시 대기오염 측정항목 정보

In [173]:
aira = pd.read_csv("AIR_HOUR_2020.csv")
aira = aira[["loc_code","item_code", "data_value","data_state"]]
aira = aira[aira["data_state"]==0][aira["item_code"]==8] # 정상인 측정기

         loc_code  item_code  data_value  data_state
92            124          8        23.0           0
106           123          8        22.0           0
109           102          8        29.0           0
203           102          8        38.0           0
262           123          8        32.0           0
...           ...        ...         ...         ...
1048423       102          8        26.0           0
1048431       124          8        33.0           0
1048519       102          8        22.0           0
1048527       124          8        36.0           0
1048548       123          8        24.0           0

[20595 rows x 4 columns]

In [174]:
aira.loc_code.unique()

array([107, 117, 113, 121, 120, 119, 115, 112, 109, 106, 104, 103, 101,
       105, 116, 124, 125, 123, 102, 122, 118, 114, 111, 110, 108],
      dtype=int64)

In [ ]:
for i in aira.loc_code.unique():
    dirty[dirty["loc_code"]==123]

In [152]:
d_gn = dirty[dirty["loc_code"]==123]
d_sp = dirty[dirty["loc_code"]==124]
d_j = dirty[dirty["loc_code"]==102]

In [153]:
# data_value : 평균 대기오염 확인
value_gn = d_gn.data_value.sum() / len(d_gn.data_value) # 모든 값을 다 합한 뒤 길이값으로 나눠줌
value_gn = round(value_gn,6)

value_sp = d_sp.data_value.sum() / len(d_sp.data_value)
value_sp = round(value_sp,6)

value_j = d_j.data_value.sum() / len(d_j.data_value)
value_j = round(value_j,6)

In [154]:
value_gn

31.975607

In [155]:
value_sp

34.36996

In [156]:
value_j

35.767542

In [4]:
round(45.470009 - 31.975607, 4)

13.4944

In [5]:
round(45.441963 - 34.36996, 4)

11.072

In [6]:
round(40.280403 - 35.767542, 4)

4.5129

#### 2017 확인

In [162]:
air7 = pd.read_csv("AIR_HOUR_2017.csv")

In [161]:
air7.columns

Index(['측정일시', '측정소 코드', '측정항목 코드', '평균값', '측정기 상태', '국가 기준초과 구분',
       '지자체 지군초과 구분'],
      dtype='object')

In [167]:
aira = air7.copy()

aira = aira[["loc_code","item_code", "data_value","data_state"]]
aira = aira[aira["data_state"]==0][aira["item_code"]==8] # 정상인 측정기
dirty = aira[(aira["loc_code"]==123)|(aira["loc_code"]==124)|(aira["loc_code"]==102)]

In [168]:
d_gn = dirty[dirty["loc_code"]==123]
d_sp = dirty[dirty["loc_code"]==124]
d_j = dirty[dirty["loc_code"]==102]

In [169]:
# data_value : 평균 대기오염 확인
value_gn = d_gn.data_value.sum() / len(d_gn.data_value) # 모든 값을 다 합한 뒤 길이값으로 나눠줌
value_gn = round(value_gn,6)

value_sp = d_sp.data_value.sum() / len(d_sp.data_value)
value_sp = round(value_sp,6)

value_j = d_j.data_value.sum() / len(d_j.data_value)
value_j = round(value_j,6)

In [170]:
value_gn

45.470009

In [171]:
value_sp

45.441963

In [172]:
value_j

40.280403

##### 측정소 코드
- 강남구 123
- 송파구 124
- 중구 102

##### 측정기 상태 : "0" : 정상 “1” : 교정,“2”: 비정상,“4” : 전원단절 ,“8” : 보수중,“9” : 자료이상
##### 8 :미세먼지 / 9: 초미세

In [3]:
## 강남구 ## 
a_gn = aira[aira["loc_code"]==123] # 강남구
a_gn = a_gn[a_gn["data_state"]==0] # 정상인 측정기만 추출

# data_value : 평균 대기오염 확인
value_gn = a_gn.data_value.sum() / len(a_gn.data_value) # 모든 값을 다 합한 뒤 길이값으로 나눠줌
value_gn = round(value_gn,6)

## 송파구 ## 
a_sp = aira[aira["loc_code"]==124]
a_sp = a_sp[a_sp["data_state"]==0]
value_sp = a_sp.data_value.sum() / len(a_sp.data_value)
value_sp = round(value_sp,6)

## 중구 ## 
a_j = aira[aira["loc_code"]==124]
a_j = a_j[a_j["data_state"]==0]
value_j = a_j.data_value.sum() / len(a_j.data_value)
value_j = round(value_j,6)

In [4]:
value_gn

8.917437

In [5]:
value_sp

9.253223

In [6]:
value_j

9.253223

In [7]:
air_goo = pd.DataFrame({"goo_nm":["강남구","송파구", "중구"],
              "air_value" : [value_gn,value_sp,value_j]
             })
air_goo.set_index("goo_nm",inplace=True)

In [8]:
air_goo

        air_value
goo_nm
강남구      8.917437
송파구      9.253223
중구       9.253223

## 2) 서울시 따릉이 대여소

In [9]:
bicyclea = pd.read_excel("sub_따릉이대여소_위치정보.xlsx")

In [10]:
bicyclea["행정동"] = ""
bicyclea.shape

(522, 6)

In [15]:
for i in range(522):
    x_val = bicyclea.x[i]
    y_val = bicyclea.y[i]
    base_url = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x='+str(x_val)+'&y='+str(y_val)+'&input_coord=WGS84'
    
    your_api_key = 'd89c853ebcefdd731422cbd0cb4cb9a4'
    headers = {'Authorization':'KakaoAK '+your_api_key}

    api_req = requests.get(base_url,headers=headers)
    bicyclea["행정동"][i] = json.loads(api_req.text)["documents"][1]['region_3depth_name']

In [97]:
bicycle = bicyclea.copy()

In [98]:
bicycle = bicycle.groupby ("행정동").count()
bicycle = bicycle[["대여소_ID"]]
bicycle = bicycle.rename(columns={"대여소_ID":"count_bicycle"})
bicycle = bicycle.reset_index()
bicycle = bicycle[(bicycle["행정동"]!="청파동")&(bicycle["행정동"]!="방배1동")&
       (bicycle["행정동"]!="양재1동")&(bicycle["행정동"]!="양재2동")] # 시흥 5동

기존 데이터프레임에서 지역구로 잘못 분류된 경우를 제거해줬고 아래의 describe를 보면 0값을 갖고 있는 행정동 없음

In [99]:
bicycle.describe()

       count_bicycle
count      64.000000
mean        8.093750
std         5.786461
min         1.000000
25%         4.000000
50%         6.000000
75%        10.000000
max        26.000000

In [100]:
bicycle.행정동.unique()

array(['가락1동', '가락2동', '가락본동', '개포1동', '개포2동', '개포4동', '거여1동', '거여2동',
       '광희동', '논현1동', '논현2동', '다산동', '대치1동', '대치2동', '대치4동', '도곡1동',
       '도곡2동', '동화동', '마천1동', '마천2동', '명동', '문정1동', '문정2동', '방이1동',
       '방이2동', '삼성1동', '삼성2동', '삼전동', '석촌동', '세곡동', '소공동', '송파1동', '송파2동',
       '수서동', '신당5동', '신당동', '신사동', '압구정동', '약수동', '역삼1동', '역삼2동', '오금동',
       '오륜동', '위례동', '을지로동', '일원1동', '일원2동', '일원본동', '잠실2동', '잠실3동',
       '잠실4동', '잠실6동', '잠실7동', '잠실본동', '장지동', '장충동', '중림동', '청구동', '청담동',
       '풍납1동', '풍납2동', '필동', '황학동', '회현동'], dtype=object)

## 3) 서울시 녹지대 현황

In [51]:
greena = pd.read_excel("sub_녹지대_위치정보.xlsx") 
greena = greena.rename(columns={"구명":"지역구"})
greena["행정동"] = ""
greena.shape

(382, 6)

In [53]:
for i in range(382):
    x_val = greena.x[i]
    y_val = greena.y[i]
    base_url = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x='+str(x_val)+'&y='+str(y_val)+'&input_coord=WGS84'
    
    your_api_key = 'd89c853ebcefdd731422cbd0cb4cb9a4'
    headers = {'Authorization':'KakaoAK '+your_api_key}

    api_req = requests.get(base_url,headers=headers)
    greena["행정동"][i] = json.loads(api_req.text)["documents"][1]['region_3depth_name']
    #print(json.loads(api_req.text)["documents"][1]['region_3depth_name'])

In [54]:
green = greena.copy()

In [55]:
green = green.groupby ("행정동").count()
green = green[["녹지대명"]]
green = green.rename(columns={"녹지대명":"count_green"})
green = green.reset_index()
green.describe() # 녹대지 없는 행정동 발생

       count_green
count    55.000000
mean      6.945455
std       6.444688
min       1.000000
25%       2.000000
50%       4.000000
75%      11.000000
max      27.000000

## 4) 에코스쿨조성사업

In [35]:
schoola = pd.read_excel("sub_에코스쿨조성사업_위치정보.xlsx")
schoola["행정동"] = ""
schoola.shape

(86, 7)

In [36]:
for i in range(86):
    x_val = schoola.x[i]
    y_val = schoola.y[i]
    base_url = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x='+str(x_val)+'&y='+str(y_val)+'&input_coord=WGS84'
    
    your_api_key = 'd89c853ebcefdd731422cbd0cb4cb9a4'
    headers = {'Authorization':'KakaoAK '+your_api_key}

    api_req = requests.get(base_url,headers=headers)
    schoola["행정동"][i] = json.loads(api_req.text)["documents"][1]['region_3depth_name']
    #print(json.loads(api_req.text)["documents"][1]['region_3depth_name'])

In [57]:
school = schoola.copy()

In [58]:
school = school.groupby ("행정동").count()
school = school[["학교명"]]
school = school.rename(columns={"학교명":"count_school"})
school = school.reset_index()
school.describe()

       count_school
count     42.000000
mean       2.047619
std        1.034818
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        4.000000

## 5) 서울시 옥상녹화사업

In [61]:
topa = pd.read_excel("sub_옥상녹화_위치정보.xlsx")
topa["행정동"] = ""
topa.shape

(112, 8)

In [62]:
for i in range(112):
    x_val = topa.x[i]
    y_val = topa.y[i]
    base_url = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x='+str(x_val)+'&y='+str(y_val)+'&input_coord=WGS84'
    
    your_api_key = 'd89c853ebcefdd731422cbd0cb4cb9a4'
    headers = {'Authorization':'KakaoAK '+your_api_key}

    api_req = requests.get(base_url,headers=headers)
    topa["행정동"][i] = json.loads(api_req.text)["documents"][1]['region_3depth_name']

In [63]:
top = topa.copy()

In [64]:
top = top.groupby ("행정동").count()
top = top[["건물명"]]
top = top.rename(columns={"건물명":"count_top"})
top = top.reset_index()
top.describe()

       count_top
count  41.000000
mean    2.731707
std     2.941296
min     1.000000
25%     1.000000
50%     2.000000
75%     3.000000
max    17.000000

## 6) 서울시 행정동별 친환경 자동차 비율

In [82]:
ecocara = pd.read_excel("sub_친환경자동차비율.xlsx")

In [83]:
ecocara

       gd_nm   전체합계  친환경자동차  eco_ratio
0   송파구 가락1동  11406    1068     0.0936
1   송파구 가락2동  10758     722     0.0671
2   송파구 가락본동  12586     595     0.0473
3   송파구 거여1동   4079     190     0.0466
4   송파구 거여2동   7416     463     0.0624
..       ...    ...     ...        ...
59    중구 중림동   3822     273     0.0714
60    중구 청구동   3549     199     0.0561
61     중구 필동   2110     141     0.0668
62    중구 황학동   3461     185     0.0535
63    중구 회현동  11612     763     0.0657

[64 rows x 4 columns]

## 7) 서울시 지역구별 쓰레기 

- 강남구 5556.9
- 송파구 4271.9
- 중구 1553.7

## 8) 행정동별 전체 인구 대비 1인 가구 비율 = one_ratio

In [72]:
df = pd.read_excel("fffin_dataset_dong2.xlsx")
df

,gd_nm,goo_nm,dong_nm,dong_ID,dong_area,one_ratio,cc_value,count_zero,sum_trans,sum_order,y,x
0,송파구 가락1동,송파구,가락1동,11710631,1.46,0.037487,0,0,9040266,73694,37.496537,127.105726
1,송파구 가락2동,송파구,가락2동,11710632,1.34,0.056981,10,0,5631398,73694,37.498639,127.126488
2,송파구 가락본동,송파구,가락본동,11710620,0.96,0.096536,30,1,3081377,73694,37.495585,127.121830
3,강남구 개포1동,강남구,개포1동,11680660,1.27,0.070165,0,0,1375563,68999,37.481925,127.057439
4,강남구 개포2동,강남구,개포2동,11680670,2.51,0.040364,0,0,2063259,68999,37.489766,127.069056
...,...,...,...,...,...,...,...,...,...,...,...,...
59,송파구 풍납1동,송파구,풍납1동,11710510,1.37,0.106685,0,0,1185664,73694,37.538055,127.122215
60,송파구 풍납2동,송파구,풍납2동,11710520,0.77,0.093297,0,1,2236027,73694,37.528779,127.116814
61,중구 필동,중구,필동,11140570,1.14,0.172066,0,0,7107052,22818,37.560148,126.995572
62,중구 황학동,중구,황학동,11140670,0.33,0.175523,0,0,1243065,22818,37.568542,127.020827
63,중구 회현동,중구,회현동,11140540,0.84,0.120723,0,1,25705050,22818,37.557288,126.979369

# 데이터 프레임 병합 = 에코 지수 생성 단계

In [126]:
a = bicycle.merge(green, left_on="행정동", right_on="행정동", how='outer')
j = a.merge(school, left_on="행정동", right_on="행정동", how='outer')
m = j.merge(top, left_on="행정동", right_on="행정동", how='outer')
m = m.fillna(0)  # 결측 == 0으로 변경 필요

In [127]:
only_name = df.copy()
d_value = m.copy()
result = only_name.merge(d_value, left_on="dong_nm", right_on="행정동", how='outer')
result = result.drop(columns={"행정동"})
result = result.dropna()

result["air_value"] = ""
result["air_value"][result["goo_nm"]=="강남구"] = 8.917437
result["air_value"][result["goo_nm"]=="송파구"] = 9.253223
result["air_value"][result["goo_nm"]=="중구"] = 9.253223

In [128]:
result = result.merge(ecocara[["gd_nm","eco_ratio"]], left_on="gd_nm", right_on="gd_nm", how='outer')
result

,gd_nm,goo_nm,dong_nm,dong_ID,dong_area,one_ratio,cc_value,count_zero,sum_trans,sum_order,y,x,count_bicycle,count_green,count_school,count_top,air_value,eco_ratio
0,송파구 가락1동,송파구,가락1동,11710631.0,1.46,0.037487,0.0,0.0,9040266.0,73694.0,37.496537,127.105726,7.0,18.0,1.0,0.0,9.253223,0.0936
1,송파구 가락2동,송파구,가락2동,11710632.0,1.34,0.056981,10.0,0.0,5631398.0,73694.0,37.498639,127.126488,5.0,0.0,2.0,1.0,9.253223,0.0671
2,송파구 가락본동,송파구,가락본동,11710620.0,0.96,0.096536,30.0,1.0,3081377.0,73694.0,37.495585,127.121830,7.0,1.0,2.0,2.0,9.253223,0.0473
3,강남구 개포1동,강남구,개포1동,11680660.0,1.27,0.070165,0.0,0.0,1375563.0,68999.0,37.481925,127.057439,3.0,2.0,3.0,0.0,8.917437,0.0697
4,강남구 개포2동,강남구,개포2동,11680670.0,2.51,0.040364,0.0,0.0,2063259.0,68999.0,37.489766,127.069056,13.0,5.0,4.0,0.0,8.917437,0.0845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,송파구 풍납1동,송파구,풍납1동,11710510.0,1.37,0.106685,0.0,0.0,1185664.0,73694.0,37.538055,127.122215,4.0,3.0,0.0,0.0,9.253223,0.0516
60,송파구 풍납2동,송파구,풍납2동,11710520.0,0.77,0.093297,0.0,1.0,2236027.0,73694.0,37.528779,127.116814,12.0,12.0,3.0,3.0,9.253223,0.0631
61,중구 필동,중구,필동,11140570.0,1.14,0.172066,0.0,0.0,7107052.0,22818.0,37.560148,126.995572,4.0,8.0,0.0,6.0,9.253223,0.0668
62,중구 황학동,중구,황학동,11140670.0,0.33,0.175523,0.0,0.0,1243065.0,22818.0,37.568542,127.020827,2.0,0.0,0.0,1.0,9.253223,0.0535
63,중구 회현동,중구,회현동,11140540.0,0.84,0.120723,0.0,1.0,25705050.0,22818.0,37.557288,126.979369,14.0,8.0,0.0,5.0,9.253223,0.0657

- 강남 5556.9
- 송파 4271.9
- 중구 1553.7

In [129]:
result["sum_waste"] = ""
result["sum_waste"][result["goo_nm"]=="강남구"] = 5556.9
result["sum_waste"][result["goo_nm"]=="송파구"] = 4271.9
result["sum_waste"][result["goo_nm"]=="중구"] = 1533.7
result

,gd_nm,goo_nm,dong_nm,dong_ID,dong_area,one_ratio,cc_value,count_zero,sum_trans,sum_order,y,x,count_bicycle,count_green,count_school,count_top,air_value,eco_ratio,sum_waste
0,송파구 가락1동,송파구,가락1동,11710631.0,1.46,0.037487,0.0,0.0,9040266.0,73694.0,37.496537,127.105726,7.0,18.0,1.0,0.0,9.253223,0.0936,4271.9
1,송파구 가락2동,송파구,가락2동,11710632.0,1.34,0.056981,10.0,0.0,5631398.0,73694.0,37.498639,127.126488,5.0,0.0,2.0,1.0,9.253223,0.0671,4271.9
2,송파구 가락본동,송파구,가락본동,11710620.0,0.96,0.096536,30.0,1.0,3081377.0,73694.0,37.495585,127.121830,7.0,1.0,2.0,2.0,9.253223,0.0473,4271.9
3,강남구 개포1동,강남구,개포1동,11680660.0,1.27,0.070165,0.0,0.0,1375563.0,68999.0,37.481925,127.057439,3.0,2.0,3.0,0.0,8.917437,0.0697,5556.9
4,강남구 개포2동,강남구,개포2동,11680670.0,2.51,0.040364,0.0,0.0,2063259.0,68999.0,37.489766,127.069056,13.0,5.0,4.0,0.0,8.917437,0.0845,5556.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,송파구 풍납1동,송파구,풍납1동,11710510.0,1.37,0.106685,0.0,0.0,1185664.0,73694.0,37.538055,127.122215,4.0,3.0,0.0,0.0,9.253223,0.0516,4271.9
60,송파구 풍납2동,송파구,풍납2동,11710520.0,0.77,0.093297,0.0,1.0,2236027.0,73694.0,37.528779,127.116814,12.0,12.0,3.0,3.0,9.253223,0.0631,4271.9
61,중구 필동,중구,필동,11140570.0,1.14,0.172066,0.0,0.0,7107052.0,22818.0,37.560148,126.995572,4.0,8.0,0.0,6.0,9.253223,0.0668,1533.7
62,중구 황학동,중구,황학동,11140670.0,0.33,0.175523,0.0,0.0,1243065.0,22818.0,37.568542,127.020827,2.0,0.0,0.0,1.0,9.253223,0.0535,1533.7
63,중구 회현동,중구,회현동,11140540.0,0.84,0.120723,0.0,1.0,25705050.0,22818.0,37.557288,126.979369,14.0,8.0,0.0,5.0,9.253223,0.0657,1533.7

In [130]:
result.to_excel("fin_dataset_ecodf.xlsx")